<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headfile :: head">
    <title>Covid-19 REST API</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="contact" style="height: 35vh;">
    <div class="contact" style="height: 35vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <h1><strong>REST api for COVID-19...</strong></h1>
            <form action="/covid19" method="GET" id="covidForm">
                <button>Refresh!</button>
            </form>
        </div>
        <table style="margin: 2%">
            <tr>
                <th>Country</th>
                <th>All-time Cases</th>
                <th>Recorded Deaths</th>
                <th>Active Cases</th>
            </tr>
            <tr th:each="country : ${countries}">
                <!--/*@thymesVar id="country_name" type="java"*/-->
                <td th:text="${country.country_name}"></td>
                <!--/*@thymesVar id="cases" type="java"*/-->
                <td th:text="${country.cases}"></td>
                <!--/*@thymesVar id="deaths" type="java"*/-->
                <td th:text="${country.deaths}"></td>
                <!--/*@thymesVar id="active_cases" type="java"*/-->
                <td th:text="${country.active_cases}"></td>
            </tr>
        </table>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
<style>
    table, td, th {
        border: 1px solid white;
    }
    td, th {
        text-align:right;
    }
    td:first-child, th:first-child {
        text-align: left;
    }

</style>
</html>