<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
        <a class="navbar-brand" href="/pbl">Nighthawk Coders</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowno" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Timelines
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/java-event">Events, Inheritance, Databases</a>
                        <a class="dropdown-item" href="/java-mvc">Model-View-Control intro</a>
                        <a class="dropdown-item" href="/java-hello">Hello to Project-based learning</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Starters
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/greet">Greetings</a>
                        <a class="dropdown-item" href="/repos">Hello REPL</a>
                        <a class="dropdown-item" href="/snake">Snake Game</a>
                        <a class="dropdown-item" href="/covid19">Covid19 Numbers</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Spring-mvc
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/fib">Fibonacci</a>
                        <a class="dropdown-item" href="/pali">Palindrome</a>
                    </div>
                </li>
            </ul>
            <div class="custom-control custom-switch">
                <input type="checkbox" onclick="darkFunction()" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
            <script>
            function darkFunction() {
                var element = document.body;
                element.classList.toggle("dark-mode");
            }
            </script>
        </div>
    </nav>
</body>
</html>