<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Family Form</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <div style="margin: 2%;">
        <!-- ThymeLeaf allows person abject of the Class Person to be acted upon by the form
         This is known as a “bean-backed form” or "form-backing bean".
            th:object - the backend form object (bean object)
         There are two fields in the Person bean,
            th:field="*{name}"
            th:field="*{age}".
         Each field has supporting line for to show errors in validation
            th:errors - form input errors added when validation errors occur
         .-->
        <form action="#" th:action="@{/family}" th:object="${family}" method="post">
            <table>
                <tr>
                    <td colspan="2" class="divider"><hr /><h2>Applicant</h2></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{person.name}" /></td>
                    <td th:if="${#fields.hasErrors('person.name')}" th:errors="*{person.name}">Name Error</td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" th:field="*{person.age}" /></td>
                    <td th:if="${#fields.hasErrors('person.age')}" th:errors="*{person.age}">Age Error</td>
                </tr>
                <tr>
                    <td>Date of Birth:</td>
                    <td><input type="text" th:field="*{person.dob}" placeholder="MM/dd/yyyy" /></td>
                    <td th:if="${#fields.hasErrors('person.dob')}" th:errors="*{person.dob}">Date Error</td>
                </tr>
                <tr>
                    <td colspan="2" class="divider"><hr /><h2>Spouse</h2></td>
                </tr>
                <tr>
                    <td>Spouse:</td>
                    <td><input type="text" th:field="*{spouse.name}" /></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" th:field="*{spouse.age}" /></td>
                </tr>
                <tr>
                    <td>Date of Birth:</td>
                    <td><input type="text" th:field="*{spouse.dob}" placeholder="MM/dd/yyyy" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
</div></body>

</html>
