<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Family Form</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <div class="jumbotron jumbotron-fluid" style="height: 50%; ">
        <div class="row justify-content-center">
            <div class="col-10" style="text-align: center;">
                <h1>CRUD: Create</h1>
            </div>
        </div>
        <!-- ThymeLeaf allows person abject of the Class Person to be acted upon by the form
         This is known as a “bean-backed form” or "form-backing bean".
            th:object - the backend form object (bean object)
         There are two fields in the Person bean,
            th:field="*{name}"
            th:field="*{age}".
         Each field has supporting line for to show errors in validation
            th:errors - form input errors added when validation errors occur
         .-->
        <div class="row courses-buttons justify-content-center">
            <form method="POST" action="#" th:action="@{/family}" th:object="${family}" >
                <table>
                    <tr>
                        <!-- Table Headings have errors built in -->
                        <th>
                            <label for="person.name" th:if="${#fields.hasErrors('person.name')}" th:errors="*{person.name}" style="color:red">Name error</label>
                            <label for="person.name" th:unless="${#fields.hasErrors('person.name')}">Name</label>
                        </th>
                        <th >
                            <label for="person.age" th:if="${#fields.hasErrors('person.age')}" style="color:red">Age (number over 18)</label>
                            <label for="person.age" th:unless="${#fields.hasErrors('person.age')}">Age</label>
                        </th>
                        <th >
                            <label for="person.dob" th:if="${#fields.hasErrors('person.dob')}" style="color:red">Date of Birth (MM/dd/yyyy)</label>
                            <label for="person.dob" th:unless="${#fields.hasErrors('person.dob')}">Date of Birth</label>
                        </th>
                    </tr>
                    <tr>
                        <!-- Table Rows reference child elements -->
                        <td><input id="person.name" type="text" th:field="*{person.name}" /></td>
                        <td><input id="person.age" type="text" th:field="*{person.age}" /></td>
                        <td><input id="person.dob" type="text" th:field="*{person.dob}" placeholder="MM/dd/yyyy" /></td>
                    </tr>
                    <tr>
                        <th>
                            <label for="spouse.name" th:if="${#fields.hasErrors('spouse.name')}" th:errors="*{spouse.name}" style="color:red">Spouse error</label>
                            <label for="spouse.name" th:unless="${#fields.hasErrors('spouse.name')}">Spouse</label>
                        </th>
                        <th>
                            <label for="spouse.age" th:if="${#fields.hasErrors('spouse.age')}" style="color:red">Age (number over 18)</label>
                            <label for="spouse.age" th:unless="${#fields.hasErrors('spouse.age')}">Age</label>
                        </th>
                        <th>
                            <label for="spouse.dob" th:if="${#fields.hasErrors('spouse.dob')}" style="color:red">Date of Birth (MM/dd/yyyy)</label>
                            <label for="spouse.dob" th:unless="${#fields.hasErrors('spouse.dob')}">Date of Birth</label>
                        </th>
                    </tr>
                    <tr>
                        <td><input id="spouse.name" type="text" th:field="*{spouse.name}" /></td>
                        <td><input id="spouse.age" type="text" th:field="*{spouse.age}" /></td>
                        <td><input id="spouse.dob" type="text" th:field="*{spouse.dob}" placeholder="MM/dd/yyyy" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Add"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div></body>

</html>
