<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index Page</title>
    <div th:replace="fragments/headfile :: head"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="contact" style="height: 35vh;">
        <form action="/hello" method="GET" id="helloForm">
            <div class="row justify-content-left" style="margin: 2%;">
                <label for="helloField">Type a hello name?</label>
                <input name="name" id="helloField">
                <button>Hello!</button>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
