<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Timeline</title>
    <div th:replace="fragments/headfile :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="row justify-content-center">
    <div class="col-10" style="text-align: center;">
        <h1>Repositories</h1>
    </div>
</div>

<div class="repositories block">
    <div class="row justify-content-center">
        <div class="col-4">
            <object type="image/svg+xml" data="https://gh-card.dev/repos/nighthawkcoders/spring-idea.svg?link_target=_blank"></object>
            <object type="image/svg+xml" data="https://gh-card.dev/repos/nighthawkcoders/virussim-idea-events.svg?link_target=_blank"></object>
            <object type="image/svg+xml" data="https://gh-card.dev/repos/nighthawkcoders/mvc-idea.svg?link_target=_blank>"</object>
        </div>
    </div>
</div>

<!--
<div id="repls" class="screen block">
    <div class="row justify-content-center" style="margin-top: 2vw;">
        <div class="col-8">
            <iframe frameborder="0" width="100%" height="500px" src="https://repl.it/@jmort1021/Java-Hello-Series?lite=true"></iframe>
        </div>
    </div>
</div>
-->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>