<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Repos</title>
    <div th:replace="fragments/headfile :: head"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center;">
            <h1>Repositories</h1>
        </div>
    </div>

    <div id="githubs" class="repo block">
        <div class="row justify-content-center" style="margin: 2%;">
            <object type="image/svg+xml" data="https://gh-card.dev/repos/nighthawkcoders/spring-idea.svg?link_target=_blank"></object>
            <object type="image/svg+xml" data="https://gh-card.dev/repos/nighthawkcoders/virussim-idea-events.svg?link_target=_blank"></object>
            <object type="image/svg+xml" data="https://gh-card.dev/repos/nighthawkcoders/mvc-idea.svg?link_target=_blank>"></object>
        </div>
    </div>

    <div id="repls" class="repl block">
        <div class="row justify-content-center" style="margin: 2%;">
            <iframe width="80%" height="500px" src="https://repl.it/@jmort1021/Java-Hello-Series?lite=true"></iframe>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>