<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stream Input</title>
    <div th:replace="fragments/headfile :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="contact" style="height: 35vh;">
    <div class="contact" style="height: 35vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <h1><strong>4 Different ways to build Fibonacci series in Java</strong></h1>
            <form action="/fib" method="GET" id="fibForm">
                <label for="fibField">Type the nth number in the fibonacci sequence?</label>
                <input name="seq" id="fibField" type="number" min="1" max="93" >
                <button>Go!</button>
                <p th:text="'Fibonacci number, ' + ${fib} " />
                <p th:text="'Fibonacci sequence, ' + ${fibseq} " />
                <p th:text="'For loop time in  nanos: ' + ${fibfortime} " />
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fspring-idea%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fexample%2Fdemo%2Ftechnicals%2FFibFor.java%23L8-L13&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
                <p th:text="'Recursion time in  nanos: ' + ${fibrecursetime} " />
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fspring-idea%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fexample%2Fdemo%2Ftechnicals%2FFibRecurse.java%23L9-L21&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
                <p th:text="'Stream time in  nanos: ' + ${fibstreamtime} " />
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fspring-idea%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fexample%2Fdemo%2Ftechnicals%2FFibStream.java%23L9-L14&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
                <p th:text="'While loop time in  nanos: ' + ${fibwhiletime} " />
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fspring-idea%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fexample%2Fdemo%2Ftechnicals%2FFibWhile.java%23L8-L16&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            </form>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>